{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "CosmosDbConnectionString": "COSMOS_DB_CONNECTION_STRING",
    "CosmosDbDatabaseName": "COSMOS_DB_NAME",
    "StorageAccountConnectionString": "STORAGE_ACCOUNT_CONNECTION_STRING",
    "IssuerBlobContainerName": "BLOB_STORAGE_CONTAINER_NAME_FOR_UPLOADED_DOCUMENTS",
    "IssuerValidatedBlobContainerName": "BLOB_STORAGE_CONTAINER_NAME_FOR_VALIDATED_DOCUMENTS",
    "WaitingMessageQueueName": "QUEUE_STORAGE_NAME_FOR_WAITING_MESSAGE",
    "IOApiBasePath": "IO_SERVICES_API_URL",
    "IOApiSubscriptionKey": "IO_SERVICES_API_SUBSCRIPTION_KEY",
    "IOApiRequestTimeout": 10000
  }
}
