openapi: 3.0.3
info:
  title: IO Sign - Backend API
  version: 0.0.1
servers:
  - url: https://app-backend.io.italia.it/api/v1/fci
    description: Production
security:
  - Bearer: []
paths:
  /signature-requests/{signatureRequestId}:
    get:
      operationId: getSignatureRequestById
      summary: Get a Signature Request By Id
      parameters:
        - in: path
          name: signatureRequestId
          schema:
            $ref: "#/components/schemas/SignatureRequestId"
          required: true
      responses:
        "200":
          description: The Signature Request detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignatureRequestDetailView"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        default:
          $ref: "#/components/responses/Unexpected"

  /qtsp/clauses:
    get:
      operationId: getQtspClauses
      summary: Get clauses list and MRC from QTSP
      responses:
        "200":
          description: The QTSP clauses list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QtspClauses"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        default:
          $ref: "#/components/responses/Unexpected"
  /signatures:
    post:
      operationId: createSignature
      summary: Create a Signature from SignatureRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSignatureBody"
      responses:
        "201":
          description: Signature created
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        default:
          $ref: "#/components/responses/Unexpected"

components:
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
  responses:
    NotFound:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-sign/v1.0.0-RELEASE/openapi-issuer.yaml#/components/responses/NotFound"
    BadRequest:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-sign/v1.0.0-RELEASE/openapi-issuer.yaml#/components/responses/BadRequest"
    Forbidden:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-sign/v1.0.0-RELEASE/openapi-issuer.yaml#/components/responses/Forbidden"
    Unexpected:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-sign/v1.0.0-RELEASE/openapi-issuer.yaml#/components/responses/Unexpected"
  schemas:
    SignatureRequestDetailView:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-sign/v1.0.0-RELEASE/openapi-issuer.yaml#/components/schemas/SignatureRequestDetailView"

    SignatureRequestId:
      $ref: "https://raw.githubusercontent.com/pagopa/io-functions-sign/v1.0.0-RELEASE/openapi-issuer.yaml#/components/schemas/SignatureRequestId"

    QtspClauses:
      type: object
      properties:
        clauses:
          type: array
          items:
            $ref: "#/components/schemas/QtspClause"
          minItems: 1
          uniqueItems: true
        mrcDocumentUrl:
          type: string
          format: uri
        privacyDocumentUrl:
          type: string
          format: uri
        tosDocumentUrl:
          type: string
          format: uri
      required:
        - text
        - mrcUrl

    QtspClause:
      type: object
      properties:
        text:
          type: string
      required:
        - text

    PublicKeyDigest:
      type: string
      format: base64url
      description: Hash of PEM public key encoded in base64

    ClausesSignature:
      properties:
        type:
          type: string
          enum:
            - COORDS
            - UNIQUE_NAME
          description: base64 of coords object or fieldName string
        signatureFieldData:
          type: string
          description: uniqueName or base64(Coords) base64({x,y,w,h,page})
      description: accepted signature clause

    DocumentSignature:
      type: object
      properties:
        documentId:
          type: string
          format: ulid
        signature:
          type: string
          format: base64url
          description: Signature of document digest concatenated with document clauses
        clauses:
          type: array
          items:
            $ref: "#/components/schemas/ClausesSignature"
      required:
        - documentId
        - signature
        - clauses

    QtspClausesMetadata:
      type: object
      properties:
        acceptedClauses:
          type: array
          items:
            $ref: "#/components/schemas/QtspClause"
          minItems: 1
          uniqueItems: true
        mrcDocumentUrl:
          type: string
          format: uri
        signature:
          type: string
          format: base64url
          description: Signature of MRC digest concatenated with QTSP accepted clauses
      required:
        - acceptedClauses
        - mrcDocumentUrl
        - signature

    CreateSignatureBody:
      type: object
      properties:
        signatureRequestId:
          $ref: "#/components/schemas/SignatureRequestId"
        publicKeyDigest:
          $ref: "#/components/schemas/PublicKeyDigest"
        documentSignatures:
          type: array
          items:
            $ref: "#/components/schemas/DocumentSignature"
          minItems: 1
          uniqueItems: true
        qtspClauses:
          $ref: "#/components/schemas/QtspClausesMetadata"
        timestamp:
          format: date-time
          type: string
      required:
        - signatureRequestId
        - publicKeyDigest
        - documentSignatures
        - qtspClauses
        - timestamp
